body {
    background-color: #ffffff;
}

.card {
    transition: transform 1.0s;
}

.card:hover {
    transform: translateY(-5px);
}

.navbar {
    background-color: #63009c !important; /* Top layer */
    transition: background-color 1.0s ease;
}
.navbar:hover {
    background-color: #8500d1 !important; /* Top layer */
}

.nav-link {
    color: #ffffff !important; /* Top text */
}

.btn-primary {
    background-color: #63009c !important; /* Devamini oku */
    transition: background-color 1.0s ease;
}

.btn-primary:hover {
    background-color: #8500d1 !important;
}

.btn-success {
    background-color: #009e0d !important; /* Yeni gonderi */
    border-color: #009e0d !important;
    transition: background-color 1.0s ease;
}

.btn-success:hover {
    background-color: #00d412 !important;
}

.btn-delete {
    color: white !important;
    background-color: #9c0000 !important; /* Sil */
    transition: background-color 1.0s ease;
}

.btn-delete:hover {
    background-color: #c80000 !important;
}

.btn-secondary {
    background-color: #404040 !important; /* Geri don */
    transition: background-color 1.0s ease;
}

.btn-secondary:hover {
    background-color: #000000 !important;
}