body {
    background-color: #ffffff;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}
/* style.css dosyasına ekle */
.navbar {
    background-color: #63009c !important; /* Ust layer */
}
  
.btn-primary {
    background-color: #63009c !important; /* Devamini oku */
    border-color: #63009c !important;
}
  
.btn-success {
    background-color: #009e0d !important; /* Yeni gonderi */
    border-color: #009e0d !important;
}
  
.btn-secondary {
    background-color: #63009c !important; /* Geri don */
    border-color: #63009c !important;
}